.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  outline: none;
  border: 2px solid black;
}
.button--navigation {
  max-width: 60px;
  cursor: pointer;
}
.button--description {
  border-radius: 5px;
  width: 150px;
  font-style: italic;
  margin: 15px auto;
}

.button--news-item {
  margin: 15px;
}

.button:hover,
.button:active {
  box-shadow: 0 0 20px #e6e6e6;
}
@media (max-width: 380px) {
  .button {
    font-size: 80%;
  }
}
