

@media (max-height: 380px) {
  .pop-up {
    font-size: 16px;
  }

  a {
    margin: 0;
  }
}

.wrap-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-center--column {
  flex-flow: column;
}

.contacts-content {
  font-style: normal;
  text-align: center;
}
.alert-content p {
  font-family: sans-serif;
  font-style: italic;
}
@media (max-width: 900px) {
  .pop-up__content {
    height: auto;
  }
}
