.variants {
  padding: 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
}

.variant {
  flex: 1 1 250px;
  max-width: 320px;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.4s ease;
  border-radius: 5px;
  border: 2px solid black;
}

.variant:hover,
.variant:active,
.variant:focus {
  box-shadow: 0 0 20px #e6e6e6;
}
.variant__image {
  width: 200px;
  height: 200px;
}
.variant__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.variant__title {
  margin-top: 15px;
}

.variant__title p:hover {
  text-shadow: none;
}

@media (max-width: 380px) {
  .variant {
    flex: 1 1 200px;
  }
}

@media (max-width: 1110px) {
  .variant {
    flex: 1 1 270px;
    margin: 0 auto 10px;
  }
}
